header{
  background-color: #222831;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: #EEEEEE;
   nav {
     a {
       padding-right: 10px;
       text-decoration: none;
       color: black;
       font-size: x-large;
       color: #EEEEEE;
      }
      a:hover{
        color: #00ADB5   
         }
   }
}
