.home-page{
    text-align: center;
    background-image: url(/assets/imgs/395434.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.95;
    height: 95vh;
    div{
        color: #EEEEEE;
        font-size: 32px
    }
}