<section class="details-container" *ngIf="contact">
    <div class="details-buttons">
        <button class="button button-back" (click)="onBack()" >Back</button>
        <button class="button button-edit" (click)="openEdit()">edit</button>
        <button class="button button-delete" (click)=onRemove()>Delete</button>
    </div>
    <div class="contact-details">
        <img src="https://robohash.org/{{contact._id}}?set=set5" alt="">
        <div>
            <p>
               name : {{contact.name}}
            </p>
            <p>
               gmail : {{contact.email }}
            </p>
            <p>
               phone : {{contact.phone }}
            </p>
        </div>
    </div>
    <transfer-fund (onTransfer)=onTransfer($event) [move]="emptyMove" [user]="user" [contact] = "contact"></transfer-fund>
    <!-- <h3> Transfer List</h3> -->
    <fieldset class="move-list" >
        <legend>Transfer List</legend>
        <move-list *ngFor="let move of moves" [move]="move"></move-list>
    </fieldset>

</section>
