.transfer-fund{
    width: 350px;
    height: 100px;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    button,input {
        height: 35px;
        border: 1px solid #d9d9d9;
    }
    input {
        border-radius: 5px 0 0 5px;
        border-right: none;
    }
    button {
        width: 75px;
        color: #fff;
        font-size: 14px;
        background-color: #579ba0;
        border: none;
        border-radius: 0 5px 5px 0;

    }

}
.error-msg{
    color: red;
}
