/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
  }

body {
    border: 1px solid;
    min-height: 95vh;
    max-width: 1480px;
    margin: auto;
    font-family: "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}